<!DOCTYPE html>
<html>
  <head>
    <title>Grammable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700' rel='stylesheet' type='text/css'>
    
  </head>

  <body>

    <div class="navbar fixed-top navbar-expand-lg bg-light navbar-extension"></div>
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 navbar-extension-border-correction"></div>

    <nav class="navbar fixed-top navbar-light navbar-expand-lg bg-light offset-1 offset-sm-2 offset-md-3 col-sm-8 col-md-6">
      <%= link_to 'Grammable', root_path, class: 'navbar-brand brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if current_user %>
              <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Welcome, <%= current_user.email %></a>
            <%= link_to "New Post", new_gram_path, class: 'nav-link' %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
            <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <% if notice.present? %>
        <p class="notice flash-message"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert flash-message"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>
    
  </body>
</html>
